@model Producer

@{
    ViewData["Title"] = "Update Producer";
}


<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Producer</h1>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="profilePicturePreview" class="border-info rounded-circle" style="max-width:150px" />
                    </div>

                    <div class="form-group">
                        <label asp-for="profilePictureURL" class="control-label"></label>
                        <input asp-for="profilePictureURL" class="form-control"/>
                        <span asp-validation-for="profilePictureURL"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="fullName" class="control-label"></label>
                        <input asp-for="fullName" class="form-control"/>
                        <span asp-validation-for="fullName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="bio" class="control-label"></label>
                        <input asp-for="bio" class="form-control" />
                        <span asp-validation-for="bio"></span>
                    </div>

                    <div class="form-group d-flex justify-content-between mt-2">
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        <input type="submit" value="Update" class="btn btn-outline-success"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('profilePicturePreview');
            output.src = $("#profilePictureURL").val();
        })
        $("#profilePictureURL").on("change", function () {
            var output = document.getElementById('profilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}